body {
    margin: 0;
    max-height: 100%;
}

#contenedor,
#cielo,
#piso {
    width: 100%;
}

#contenedor {
    height: 100%;
    overflow-y: hidden; 
    overflow-x: hidden;
}

body {
    overflow-y: hidden; 
    overflow-x: hidden;
}


/****************************************
 *
 *  LANDSCAPE ELEMENTS
 *
 ******************************************/


#cielo {
    height: 80%;
    background: url("../img/sky.png") repeat-x;
    background-size: 1280px 80%;
    top: -28%;
    position: absolute;
    animation: sky 180s linear infinite;
    animation: nocheDia 25s easy infinite;
    z-index: 1;
}

@keyframes sky {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 1280px;
    }
}
@keyframe nocheDia{
    0% { 
        filter: hue-rotate(30deg) brightness(50%);
    }
    100% {
        filter: hue-rotate(0deg) brightness(100%);
    }
}
#farMountain{
    width: 100em;
    height: 100px;
    position: absolute;
    z-index: 3;
    top: 19%;
    background: url('../img/far_mountain.png');
    background-size: 1997px 100%;
    animation: flatMountain 150s linear infinite;
    filter: brightness(75%);

}
#flatMountain{
    width: 100em;
    height: 100px;
    position: absolute;
    z-index: 4;
    top: 19.5%;
    background: url('../img/flat_mountain.png');
    background-size: 1997px 100%;
    animation: flatMountain 110s linear infinite;
    filter: brightness(75%);
}
@keyframes flatMountain {
    0% {
        background-position: 0
    }

    100% {
        background-position: 1997px
    }
}
#stones1{
    width: 100%;
    height: calc(312px * 0.08);
    position: absolute;
    z-index: 5;
    top: 34%;
    background: url('../img/stones_background_1.png') repeat-x;
    background-size: calc(12000px * 0.08) calc(312px * 0.08);
    animation: stones1 49s linear infinite;
    filter: brightness(60%);
    
}
@keyframes stones1 {
    0% {
        background-position: 0
    }

    100% {
        background-position: calc(12000px * 0.08)
    }
}
#stones2{
    width: 100%;
    height: calc(296px * 0.15);
    position: absolute;
    z-index: 6;
    top: 37%;
    background: url('../img/stones_background_2.png') repeat-x;
    background-size: calc(10791px * 0.15) calc(296px * 0.15);
    animation: stones2 50s linear infinite;
    filter: brightness(70%);
}
@keyframes stones2 {
    0% {
        background-position: 0
    }

    100% {
        background-position: calc(10791px * 0.15)
    }
}
#stones3{
    width: 100%;
    height: calc(305px * 0.20);
    position: absolute;
    z-index: 7;
    top: 45%;
    background: url('../img/stones_background_3.png') repeat-x;
    background-size: calc(9491px * 0.20) calc(305px * 0.20);
    animation: stones3 30s linear infinite;
    filter: brightness(84%);
}
@keyframes stones3 {
    0% {
        background-position: 0
    }

    100% {
        background-position: calc(9491px * 0.20)
    }
}
#stones4{
    width: 100%;
    height: calc(336px * 0.50);
    position: absolute;
    z-index: 8;
    background-position: 0;
    top: 45%;
    background: url('../img/stones_background_4.png') repeat-x;
    background-size: calc(7007px * 0.50) calc(336px * 0.50);
    animation: stones4 28s linear infinite;
    
}
@keyframes stones4 {
    0% {
        background-position: 0;
    }

    100% {
        background-position: calc(7007px * 0.50);
    }
}


#piso {
    height: 109px;
    width: 3024px;
    background: url("../img/desert_route.png") repeat-x;
    background-size: 3024px 109px;
    animation: floor 4s linear infinite;
    position: absolute;
    bottom: 0px;
    z-index: 9;
    animation: piso 12s linear infinite;

}
@keyframes piso {
    0% {
        background-position: 0
    }

    100% {
        background-position: 3024px
    }
}

#ground{
    z-index: 3;
    position: absolute;
    top: 34%;
    height: 55%;
    width:100%;
    background: linear-gradient(180deg, rgba(174,123,70,1) 0%, rgba(236,193,148,1) 100%);
}



/****************************************
 *
 *  CHARTERS & THINGS
 *
 ****************************************/


#lab-movil{
    width: calc(376px * 2);
    height: calc(140px * 2);
    z-index: 8;
    position: absolute;
    background-size: calc(140px * 2) calc(376px * 2);
    bottom: 7%;
    right: 50px;
    background: url("../img/lab_movil.png");
    background-repeat: no-repeat;
    animation: piso 1.9s linear infinite;
}
#personaje {
    width: 180px; height: 216px;
    z-index: 10;
    position: absolute;
    background-size: 216px 900px;
    bottom: 12%;
    right: 50px;
    background: url("../img/walters-walk.png") repeat-x;
}

.correr {
    animation: correr .6s steps(5) infinite reverse;
}

.saltar {
    animation: saltar 800ms cubic-bezier(0,0,.5,1) forwards; 
}

.caer {
    animation: caer 600ms cubic-bezier(0,0,.5,1) forwards;
}

@keyframes saltar {
    from {
        bottom: 18%;
    }
    to {
        bottom: 50%;
    }
   
}

@keyframes caer {
    from {
        bottom: 50%;
    }
    to {
        bottom: 18%;
    }
}


@keyframes correr {
    0% {
        background-position: 0
    }

    100% {
        background-position: -900px
    }
}
.enemigo {
    z-index: 10;
    position: absolute;
    bottom: 20%; width: 88px;
    height: 88px;
    background-size: 88px 352px;
    animation: enemigo 5.5s forwards linear, correrEnemigo .4s steps(4) infinite;
    background: url("../img/jack.png") ;
    background-repeat: no-repeat;
    transform: scale(2);
    border-radius: 20%;
}

@keyframes correrEnemigo {
    0% {
        background-position: 0px

    }

    100% {
        background-position: -352px
    }
}


@keyframes enemigo {

    from {
      left: -10%;
    }
    to {
      left: 100%;
    }
}

.cliente {
    z-index: 10;
    position: absolute;
    bottom: 12%; 
    width: 134px; height: 216px;
    background-size: 216px 1072px;
    animation: enemigo 5.5s forwards linear, correrCliente .8s steps(8) infinite;
    background: url("../img/client.png") ;
    background-repeat: no-repeat;
    border-radius: 20%;
}

@keyframes correrCliente {
    0% {
        background-position: 0px

    }

    100% {
        background-position: -1072px
    }
}

.things{
    position: absolute;
    bottom: 13%;
    animation: things 5.5s forwards linear;

}

@keyframes things {
    from {
        left: -5%;
    }
    to {
        left: 100%;
    }
   
}
.meth{
    width: calc(388px * 0.15);
    height: calc(221px * 0.15);
    background: url("../img/meth.png") ;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 9;
}


/****************************************
 *
 *  GAME CONTROLS
 *
 ****************************************/

 
#methBar{
    position: absolute;
    width: 125px; height: 44px;
    background: url("../img/methScore.png") ;
    background-size: 125px 44px;
    background-repeat: no-repeat;
    top: 20px;
    left: 20px;
    z-index: 20;
}

#methScore{
    position: absolute;
    width: 55px;
    top: -8px;
    left: 52px;
    color: rgb(146, 209, 227);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    z-index: 21;
    text-align: center;
}
#timeScore{
    position: absolute;
    width: 55px;
    top: -8px;
    left: 52px;
    color: rgb(146, 209, 227);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    z-index: 21;
    text-align: center;
}
#moneyScore{
    position: absolute;
    width: 82px;
    top: -8px;
    left: 52px;
    color: rgb(146, 209, 227);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    z-index: 21;
    text-align: center;
}
#moneyBar{
    position: absolute;
    width: 150px; height: 44px;
    background: url("../img/moneyScore.png") ;
    background-size: 150px 44px;
    background-repeat: no-repeat;
    top: 65px;
    left: 20px;
    z-index: 20;
}
#timeBar{
    position: absolute;
    width: 173px; height: 44px;
    background: url("../img/timeBar.png") ;
    background-size: 173px 44px;
    background-repeat: no-repeat;
    top: 20px;
    right: 20px;
    z-index: 20;
}
#lifeBar{
    position: absolute;
    width: 173px; height: 44px;
    background: url("../img/lifeBar.png") ;
    background-size: 173px 44px;
    background-repeat: no-repeat;
    top: 65px;
    right: 20px;
    z-index: 20;
}
#lifeBarInside{
    position: absolute;
    width: 118px; height: 11px;
    background: url("../img/lifeBarInside.png") ;
    background-size: 118px 11px;
    background-repeat: no-repeat;
    top: 81px;
    right: 30px;
    z-index: 19;
    overflow: hidden;
}
#lifeBarBackground{
    position: absolute;
    width: 118px; height: 11px;
    background: url("../img/lifeBarBackground.png") ;
    background-size: 118px 11px;
    background-repeat: no-repeat;
    top: 81px;
    right: 30px;
    z-index: 18;
    overflow: hidden;
}





button{
    z-index: 50;
    position: absolute;
}