
/*
*   FONTS
*/
@font-face {
    font-family: 'pixel-font';
    src: url('PublicPixel-z84yD.ttf') format('truetype');
  }

/*
* ESTILOS GLOBALES
*/
body {
    margin: 0;
    max-height: 100%;
}
body, button {
    font-family: 'pixel-font', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#contenedor,
#cielo,
#piso,
#flatMountain,
#farMountain,
#ground {
    width: 100%;
}

#contenedor {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}
.ml{
    margin-left: 10px;
}
.mr{
    margin-right: 10px;
}

/***************************************************
 *
 *  GAME WELLCOME, EXPLANATION AND GAME OVER SCREENS
 *
 ***************************************************/
.background-start-screen {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.423);
    z-index: 50;
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    color: rgb(45, 42, 34);
}

.start-screen {
    height: 600px;
    width: 800px;
    background: url('../img/game_start.png');
    background-position: center center;
    background-size: cover;
    z-index: 51;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    top: 2%;
    box-shadow: 0px 0px 67px 26px rgba(0,0,0,0.71);
    border-radius: 5px;
}
.game-over{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 800px;
    background: url('../img/gamo_over.png');
    background-position: center center;
    background-size: cover;
    z-index: 51;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    top: 2%;
    box-shadow: 0px 0px 67px 26px rgba(0,0,0,0.71);
    border-radius: 5px;
    padding-left: 30px;
}
.game-over h1,p,h2{
    text-align: center;
}
.game-over div{
    display: flex;
    justify-content: center;
    width: 100%;
}
/* .game-over button{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */
.game-over button:hover{
    transform: scale(1.05);
}
.game-over p{
    margin: 2px;
}
.game-over hr{
    width:30%;
    border: 1px solid rgb(93, 88, 73);
}
.game-over span{
    color: brown;
    font-weight: 800;
}

.explanations{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 80%;
    background: url('../img/how_to_play.png');
    background-position: center center;
    background-size: cover;
    z-index: 51;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    top: 2%;
    box-shadow: 0px 0px 67px 26px rgba(0,0,0,0.71);
    border-radius: 5px;
    padding: 40px;
}
.explanations div{
    display: flex;
}
.explanations img{
    height: 50px;
}
.explanations .imgExpl{
    flex-direction: column;
    justify-content: center;
}
.button-box-expln{
    display: flex;
    justify-content: center;
}
.explanations p{
    text-align: justify!important;
}
.button-box {
    top: 80%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

button {
    padding: 10px;
    width: 250px;
    margin: 20px;
    /* font-family: pixce; */
    font-size: 16px;
    border: 3px solid rgb(93, 88, 73);
    background: rgba(255, 255, 255, 0.616);
    color: rgb(93, 88, 73);
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
button:hover{
    transform: scale(1.05);
}

/****************************************
 *
 *  LANDSCAPE ELEMENTS
 *
 ******************************************/


#cielo {
    height: 80%;
    background: url("../img/sky.png") repeat-x;
    background-size: 1280px 80%;
    top: -28%;
    position: absolute;
    animation: sky 180s linear infinite;
    animation: nocheDia 25s easy infinite;
    z-index: 1;
}

@keyframes sky {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 1280px;
    }
}

@keyframe nocheDia {
    0% {
        filter: hue-rotate(30deg) brightness(50%);
    }

    100% {
        filter: hue-rotate(0deg) brightness(100%);
    }
}

#farMountain {
    height: 100px;
    position: absolute;
    z-index: 3;
    /* top: 19%; */
    bottom: 64.5%;
    background: url('../img/far_mountain.png');
    background-size: 1997px 100%;
    animation: flatMountain 150s linear infinite;
    filter: brightness(75%);

}

#flatMountain {
    height: 100px;
    position: absolute;
    z-index: 4;
    /* top: 19.5%; */
    bottom: 65%;
    background: url('../img/flat_mountain.png');
    background-size: 1997px 100%;
    animation: flatMountain 110s linear infinite;
    filter: brightness(75%);
}

@keyframes flatMountain {
    0% {
        background-position: 0
    }

    100% {
        background-position: 1997px
    }
}

#stones1 {
    width: 100%;
    height: calc(312px * 0.08);
    position: absolute;
    z-index: 5;
    bottom: 62%;
    background: url('../img/stones_background_1.png') repeat-x;
    background-size: calc(12000px * 0.08) calc(312px * 0.08);
    animation: stones1 49s linear infinite;
    filter: brightness(60%);
}

@keyframes stones1 {
    0% {
        background-position: 0
    }

    100% {
        background-position: calc(12000px * 0.08)
    }
}

#stones2 {
    width: 100%;
    height: calc(296px * 0.15);
    position: absolute;
    z-index: 6;
    bottom: 56%;
    background: url('../img/stones_background_2.png') repeat-x;
    background-size: calc(10791px * 0.15) calc(296px * 0.15);
    animation: stones2 50s linear infinite;
    filter: brightness(70%);
}

@keyframes stones2 {
    0% {
        background-position: 0
    }

    100% {
        background-position: calc(10791px * 0.15)
    }
}

#stones3 {
    width: 100%;
    height: calc(305px * 0.20);
    position: absolute;
    z-index: 7;
    bottom: 45%;
    background: url('../img/stones_background_3.png') repeat-x;
    background-size: calc(9491px * 0.20) calc(305px * 0.20);
    animation: stones3 30s linear infinite;
    filter: brightness(84%);
}

@keyframes stones3 {
    0% {
        background-position: 0
    }

    100% {
        background-position: calc(9491px * 0.20)
    }
}

#stones4 {
    width: 100%;
    height: calc(336px * 0.50);
    position: absolute;
    z-index: 8;
    background-position: 0;
    bottom: 24%;
    background: url('../img/stones_background_4.png') repeat-x;
    background-size: calc(7007px * 0.50) calc(336px * 0.50);
    animation: stones4 28s linear infinite;

}

@keyframes stones4 {
    0% {
        background-position: 0;
    }

    100% {
        background-position: calc(7007px * 0.50);
    }
}


#piso {
    height: 109px;
    width: 3024px;
    background: url("../img/desert_route.png") repeat-x;
    background-size: 3024px 109px;
    animation: floor 4s linear infinite;
    position: absolute;
    bottom: 0px;
    z-index: 9;
    animation: piso 12s linear infinite;

}

@keyframes piso {
    0% {
        background-position: 0
    }

    100% {
        background-position: 3024px
    }
}

#ground {
    z-index: 3;
    position: absolute;
    /* top: 34%; */
    top: 35%;
    height: 70%;
    width: 100%;
    background: linear-gradient(180deg, rgba(174, 123, 70, 1) 0%, rgba(236, 193, 148, 1) 100%);
}



/****************************************
 *
 *  CHARTERS & THINGS
 *
 ****************************************/

#personaje {
    width: 180px;
    height: 216px;
    z-index: 10;
    position: absolute;
    background-size: 216px 900px;
    bottom: 50px;
    right: 50px;
    background: url("../img/walters-walk.png") repeat-x;
}

.correr {
    animation: correr .6s steps(5) infinite reverse;
}

.saltar {
    animation: saltar 800ms cubic-bezier(0, 0, .5, 1) forwards;
}

.caer {
    animation: caer 600ms cubic-bezier(0, 0, .5, 1) forwards;
}

@keyframes saltar {
    from {
        bottom: 50px;
    }

    to {
        bottom: 300px;
    }

}

@keyframes caer {
    from {
        bottom: 300px;
    }

    to {
        bottom: 50px;
    }
}


@keyframes correr {
    0% {
        background-position: 0
    }

    100% {
        background-position: -900px
    }
}

.enemigo {
    z-index: 10;
    position: absolute;
    bottom: 100px;
    width: 88px;
    height: 88px;
    background-size: 88px 352px;
    animation: enemigo 5.5s forwards linear, correrEnemigo .4s steps(4) infinite;
    background: url("../img/jack.png");
    background-repeat: no-repeat;
    transform: scale(2);
    border-radius: 20%;
}

@keyframes correrEnemigo {
    0% {
        background-position: 0px
    }

    100% {
        background-position: -352px
    }
}


@keyframes enemigo {

    from {
        left: -10%;
    }

    to {
        left: 100%;
    }
}

.cliente {
    z-index: 10;
    position: absolute;
    bottom: 50px;
    width: 134px;
    height: 216px;
    background-size: 216px 1072px;
    animation: enemigo 5.5s forwards linear, correrCliente .8s steps(8) infinite;
    background: url("../img/client.png");
    background-repeat: no-repeat;
    border-radius: 20%;
}

@keyframes correrCliente {
    0% {
        background-position: 0px
    }

    100% {
        background-position: -1072px
    }
}

.things {
    position: absolute;
    bottom: 50px;
    animation: things 5.5s forwards linear;

}

@keyframes things {
    from {
        left: -5%;
    }

    to {
        left: 100%;
    }

}

.meth {
    width: calc(388px * 0.15);
    height: calc(221px * 0.15);
    background: url("../img/meth.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 9;
}


/****************************************
 *
 *  GAME CONTROLS
 *
 ****************************************/


#methBar {
    position: absolute;
    width: 125px;
    height: 44px;
    background: url("../img/methScore.png");
    background-size: 125px 44px;
    background-repeat: no-repeat;
    top: 20px;
    left: 20px;
    z-index: 20;
}

#methScore {
    position: absolute;
    width: 60px;
    top: 0px;
    left: 52px;
    color: rgb(146, 209, 227);
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-size: 18px;
    z-index: 21;
    text-align: center;
}

#timeScore {
    position: absolute;
    width: 55px;
    top: 0px;
    left: 63px;
    color: rgb(146, 209, 227);
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-size: 18px;
    z-index: 21;
    text-align: center;
}

#moneyScore {
    position: absolute;
    width: 135px;
    top: 0px;
    left: 52px;
    color: rgb(146, 209, 227);
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-size: 18px;
    z-index: 21;
    text-align: center;
}

#moneyBar {
    position: absolute;
    width: 200px;
    height: 44px;
    background: url("../img/moneyScore.png");
    background-size: cover;
    background-repeat: no-repeat;
    top: 65px;
    left: 20px;
    z-index: 20;
}

#timeBar {
    position: absolute;
    width: 230px;
    height: 44px;
    background: url("../img/timeBar.png");
    background-size: cover;
    background-repeat: no-repeat;
    top: 20px;
    right: 20px;
    z-index: 20;
}

#lifeBar {
    position: absolute;
    width: 173px;
    height: 44px;
    background: url("../img/lifeBar.png");
    background-size: 173px 44px;
    background-repeat: no-repeat;
    top: 65px;
    right: 79px;
    z-index: 20;
}

#lifeBarInside {
    position: absolute;
    width: 118px;
    height: 11px;
    background: url("../img/lifeBarInside.png");
    background-size: 118px 11px;
    background-repeat: no-repeat;
    top: 81px;
    right: 90px;
    z-index: 19;
    overflow: hidden;
}

#lifeBarBackground {
    position: absolute;
    width: 118px;
    height: 11px;
    background: url("../img/lifeBarBackground.png");
    background-size: 118px 11px;
    background-repeat: no-repeat;
    top: 81px;
    right:90px;
    z-index: 18;
    overflow: hidden;

}




